
.bgHome {
    background-color: #138FC7;
}
.inputs {
    width: 500px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 0 10px;
    font-size: 16px;
    margin-bottom: 10px;
    box-sizing: border-box;
    outline: none;
    transition: all 0.3s ease-in-out;
}

/* navbar */
.logoNav{
    width: 80%;
    height: 80%;
    margin-left: auto;
    margin-right: auto;
}

.menu_link_singout{
    color: rgb(5, 5, 5);
    font-size: 20px;
    padding-left: 10px;
    align-items: end;
    margin-top: 200px;
}

.menu_link_singout:hover{
    background-color: var(--bs-white);
    border-radius: 2px;
}
.menu_link{
    color: var(--bs-secondary);
}
.menu_link a{
    color: var(--bs-secondary);
}
.menu_link:hover{
    color: var(--bs-dark);
}
.menu_link:hover a{
    color: var(--bs-dark);
}
.sidebar li:hover{
    background-color: var(--bs-white);
    border-radius: 3px;
}
.NavbarBG {
    width: 100%; /* Set the width to 100% to take the full width */
    background-color: #ffffff; /* Primary color - You can change it to any color you want */
    color: white; /* Text color */
    padding: 20px; /* Add padding to the Navbar */
    border-radius: 30px;
}


.table-container {
    margin: 20px !important; /* Adjust the margin value to control the spacing */
  }

/* ADD ITem */

.inpuText{
    border: none;
    border-bottom: 1px solid #000000;
    width: 90%;
    margin-bottom: 30px !important;
}

.labelInput{
    font-size: 20px !important;
}
.h-200px{
    height: 200px;
}
.w-36px{
    width: 36px;
}
.w-52px{
    width: 52px;
}
.sidebar > button:hover{
    background-color: var(--bs-white);
    color: var(--bs-dark);
}
.admin table{
    border-bottom: 4px solid #f8f9fd;
    border-top: 4px solid #f8f9fd;
    margin-bottom: 10px;
}
.admin tr{
    display: table-row;
    line-height: 30px;
}
.admin td, .admin th{
    border: none;
}
.admin th{
    font-weight: bold;
}
.admin thead{
    color: white;
}
.table{
    min-height: 450px;
    overflow-x: scroll;
}
.table td, .table th{
    padding-left: 10px;
}
#navbar{
    height: 62px;
}
.admin-main{
    max-height: 100vh;
}
.form__group {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
    width: 50%;
    margin-bottom: 20px;
}

.form__field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid var(--bs-dark);
    outline: 0;
    font-size: 1rem;
    color: var(--bs-dark);
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}
.form__field::placeholder {
    color: transparent;
}

.form__field:placeholder-shown ~ .form__label {
    font-size: 1rem;
    cursor: text;
    top: 20px;
}
  
.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 0.8rem;
    color: var(--bs-seconary);
}
.form__field:focus ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: var(--bs-primary);
    font-weight:700;    
}
.form__field:focus{
    padding-bottom: 6px;  
    font-weight: 700;
    border-width: 3px;
    border-image-slice: 1;
}
.sidebar-mobile{
    margin-top: 62px!important;
    height: 100%;
    background-color: var(--bs-dark);
    transition: all 0.25s;
    overflow-x: hidden;
}
.sidebar-mobile.closed{
    width: 0px!important;
    padding: 0px!important;
}
.sidebar-mobile.opened{
    width: 300px;
}
#loading{
    position: fixed;
    z-index: 999;
    opacity: 0.4;
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
}
#loading img{
    width: 100px;
    height: 100px;
}
.notif-count{
    position: absolute;
    font-size: 10px;
    background-color: var(--bs-danger);
    margin-top: -10px;
    padding:2px 5px;
    border-radius: 3px;
    color: white;
}
.notif-dropdown{
    position: absolute;
    right: 100px;
    top: 75px;
    background-color: white;
    width: 300px;
    min-height: 100px;
    height: fit-content;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
    border-radius: 5px;
    overflow-y: scroll;
    color: var(--bs-dark);
    z-index: 9999;
    padding: 10px 5px;
}
.notif-dropdown .notif-list{
    border-bottom: black;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    overflow-x: hidden;
}
.notif-dropdown .notif-list:hover{
    border-bottom: black;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    overflow-x: hidden;
    background-color: var(--bs-secondary);
    cursor: pointer;
}
.notif-list .notif-title{
    display: block;
    font-weight: bold;
}
.notif-list .notif-subtitle{
    font-size: 12px;
}
.admin-content{
    height: 85%;
    overflow-y: scroll;
    max-height: 85%;
}
.admin-content img{
    height: 200px;
    width: auto;
    max-width: 100%;
}
.img-fluid{
    width: 100%;
    height: auto;
}
.min-h-80{
    min-height: 80%;
}
.card-image{
    width: 100%;
    height: auto;
}
.card-image-container{
    overflow-y: hidden;
    width: 100%;
    aspect-ratio: 3/2;
}

@media only screen and (max-width:768px){
    
    .notif-dropdown{
        margin-left: auto;
        margin-right: auto;
        left: 20px;
        width: 80%;
        height: 80%;
        z-index: 99;
    }
}
.max-vh-100{
    max-height: 100vh;
}
.h-80{
    height: 80%;
}
.h-90{
    height: 90%;
}
.min-vh-50{
    min-height: 50vh;
}
.fs-12px{
    font-size: 12px;
}
.content{
    min-height: 40vh;
}
.vh-80{
    height: 80vh;
}
.bg-carousel{
    background-color: black;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    opacity: 0.3;
    z-index: 3;
}
.carousel-text{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    top: 0px;
    left: 0px;
    text-align: center;
}
.z-20{
    z-index: 20;
}
.z-30{
    z-index: 30;
}
.h-fit{
    height: fit-content;
}
.card-text.element{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.carousel-caption.d-none{
    display: block !important;
}
.hv-20{
    height: 20vh;
}
#home-card .text-title, #home-card .text-body{
    color: white !important;
}
#home-card .text-title{
    font-size: 1.5rem;
}

@media only screen and (max-width:768px){
    #home-card .text-title{
        font-size: 1rem;    
    }
    #home-card .text-body{
        font-size: 0.7rem;
    }
}

#home-card{
    min-height: 100px;
    height: fit-content;
}