/* create baground gradasi */
.bgdasboard {
    background: linear-gradient(to right, #3DAAAF, #40CB92);
    display: relative;
}

.title{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 36px;
    color: #FFFFFF;
    padding-top: 5%;
}

.buttonTitle{
    /* margin-bottom: 10% !important; */
    margin-bottom: 6% !important;
}
.hv-75{
    height: 75vh;
}
.hv-50{
    height: 50vh;
}
.hv-45{
    height: 45vh;
}
.h-fit-content{
    height: fit-content;
}
.landingpage-card{
    margin-top: -100px!important;
    z-index: 99px;
}
